In [10]:
import numpy as np
import pandas as pd
np.set_printoptions(threshold=np.nan)

In [20]:
signal_data = pd.read_csv("/home/ywu/Documents/workplace/AFP_data/rps_signals.csv")
signal_data = signal_data.set_index("DATE")
signal_data.dropna(how = "any", axis = 1 ,inplace = True)
signal_data.head()

,permno,gvkey,fyear,sic2,mve_f,bm,ep,age,spii,woGW,...,mve_m,mve,pps,eamonth,i,j,count,ewret,mom1m,IPO
DATE,,,,,,,,,,,,,,,,,,,,,
19800131,10006,1010,1978,37,269.308500,1.180962,0.153022,4,0,0,...,303420.750,12.622876,3.533687,0,61,3,44,0.097817,0.000000,0
19800131,10057,1098,1978,36,97.372000,0.956692,0.135131,4,0,0,...,111423.125,11.621090,3.262893,1,61,3,46,0.097817,0.174157,0
19800131,10103,1012,1978,33,1.697500,3.362003,0.338144,1,0,0,...,2043.000,7.622175,0.405465,0,61,3,10,0.097817,0.500000,1
19800131,10137,1279,1978,49,537.524500,1.330341,0.153238,4,0,0,...,617349.500,13.333191,2.740840,1,61,3,44,0.097817,-0.047761,0
19800131,10145,1300,1978,99,805.633282,1.579284,0.149248,4,1,0,...,1415193.000,14.162776,3.894368,0,61,3,43,0.097817,0.085635,0

In [15]:
print(np.array(signal_data.columns))
print(signal_data["DATE"])

['permno' 'gvkey' 'fyear' 'sic2' 'spi' 'mve_f' 'bm' 'ep' 'cashpr' 'dy'
 'lev' 'sp' 'roic' 'rd_sale' 'rd_mve' 'agr' 'gma' 'chcsho' 'lgr' 'acc'
 'pctacc' 'cfp' 'absacc' 'age' 'chinv' 'spii' 'cf' 'hire' 'sgr' 'chpm'
 'chato' 'pchsale_pchinvt' 'pchsale_pchrect' 'pchgm_pchsale'
 'pchsale_pchxsga' 'depr' 'pchdepr' 'chadv' 'invest' 'egr' 'pchcapx'
 'grcapx' 'grGW' 'woGW' 'tang' 'sin' 'currat' 'pchcurrat' 'quick'
 'pchquick' 'salecash' 'salerec' 'saleinv' 'pchsaleinv' 'cashdebt'
 'realestate' 'divi' 'divo' 'obklg' 'chobklg' 'securedind' 'secured'
 'convind' 'conv' 'grltnoa' 'chdrc' 'rd' 'rdbias' 'roe' 'operprof' 'ps'
 'chpmia' 'chatoia' 'chempia' 'bm_ia' 'pchcapx_ia' 'tb' 'cfp_ia' 'mve_ia'
 'herf' 'credrat' 'credrat_dwn' 'orgcap' 'EXCHCD' 'RET' 'prc' 'SHROUT'
 'VOL' 'DATE' 'DLRET' 'DLSTCD' 'mve_m' 'mve' 'pps' 'datadate' 'rdq' 'prccq'
 'chtx' 'roaq' 'roeq' 'rsup' 'stdacc' 'sgrvol' 'roavol' 'stdcf' 'cash'
 'cinvest' 'nincr' 'sue' 'aeavol' 'ear' 'eamonth' 'ms' 'disp' 'chfeps'
 'fgr5yr' 'MEANREC' 'chrec' 'nanalyst' 'sfe' 'MEANEST' 'ltg' 'i' 'j'
 'count' 'ewret' 'chnanalyst' 'mom6m' 'mom12m' 'mom36m' 'mom1m' 'dolvol'
 'chmom' 'turn' 'retcons_pos' 'retcons_neg' 'IPO' 'indmom' 'maxret'
 'retvol' 'baspread' 'std_dolvol' 'std_turn' 'ill' 'zerotrade' 'BETA'
 'betasq' 'rsq1' 'pricedelay' 'idiovol']
0          19800131
1          19800131
2          19800131
3          19800131
4          19800131
5          19800131
6          19800131
7          19800131
8          19800131
9          19800131
10         19800131
11         19800131
12         19800131
13         19800131
14         19800131
15         19800131
16         19800131
17         19800131
18         19800131
19         19800131
20         19800131
21         19800131
22         19800131
23         19800131
24         19800131
25         19800131
26         19800131
27         19800131
28         19800131
29         19800131
             ...
2014956    20161230
2014957    20161230
2014958    20161230
2014959    20161230
2014960    20161230
2014961    20161230
2014962    20161230
2014963    20161230
2014964    20161230
2014965    20161230
2014966    20161230
2014967    20161230
2014968    20161230
2014969    20161230
2014970    20161230
2014971    20161230
2014972    20161230
2014973    20161230
2014974    20161230
2014975    20161230
2014976    20161230
2014977    20161230
2014978    20161230
2014979    20161230
2014980    20161230
2014981    20161230
2014982    20161230
2014983    20161230
2014984    20161230
2014985    20161230
Name: DATE, Length: 2014986, dtype: int64

In [26]:
fama_french = pd.read_csv("/home/ywu/Documents/workplace/AFP_data/F-F_Research_Data_5_Factors_2x3_daily.CSV", skiprows = 3)
fama_french.set_index("DATE", inplace = True)
fama_french.head()

          Mkt-RF   SMB   HML   RMW   CMA     RF
DATE
19630701   -0.67  0.00 -0.32  0.01  0.15  0.012
19630702    0.79 -0.27  0.27 -0.08 -0.19  0.012
19630703    0.63 -0.17 -0.09  0.19 -0.33  0.012
19630705    0.40  0.08 -0.28  0.07 -0.33  0.012
19630708   -0.63  0.04 -0.17 -0.31  0.13  0.012

In [28]:
merge_data = signal_data.join(fama_french, how = "left")
merge_data.to_csv("merge_data.csv")