In [1]:
import numpy as np
import pandas as pd
np.set_printoptions(threshold=np.nan)

In [2]:
signal_data = pd.read_csv("/home/ywu/Documents/workplace/AFP_data/rps_signals.csv")
signal_data = signal_data.set_index("DATE")
signal_data.dropna(how = "any", axis = 1 ,inplace = True)
signal_data.head()

,permno,gvkey,fyear,sic2,mve_f,bm,ep,age,spii,woGW,...,mve_m,mve,pps,eamonth,i,j,count,ewret,mom1m,IPO
DATE,,,,,,,,,,,,,,,,,,,,,
19800131,10006,1010,1978,37,269.308500,1.180962,0.153022,4,0,0,...,303420.750,12.622876,3.533687,0,61,3,44,0.097817,0.000000,0
19800131,10057,1098,1978,36,97.372000,0.956692,0.135131,4,0,0,...,111423.125,11.621090,3.262893,1,61,3,46,0.097817,0.174157,0
19800131,10103,1012,1978,33,1.697500,3.362003,0.338144,1,0,0,...,2043.000,7.622175,0.405465,0,61,3,10,0.097817,0.500000,1
19800131,10137,1279,1978,49,537.524500,1.330341,0.153238,4,0,0,...,617349.500,13.333191,2.740840,1,61,3,44,0.097817,-0.047761,0
19800131,10145,1300,1978,99,805.633282,1.579284,0.149248,4,1,0,...,1415193.000,14.162776,3.894368,0,61,3,43,0.097817,0.085635,0

In [3]:
fama_french = pd.read_csv("/home/ywu/Documents/workplace/AFP_data/F-F_Research_Data_5_Factors_2x3_daily.CSV", skiprows = 3)
fama_french.set_index("DATE", inplace = True)
fama_french.head()

          Mkt-RF   SMB   HML   RMW   CMA     RF
DATE
19630701   -0.67  0.00 -0.32  0.01  0.15  0.012
19630702    0.79 -0.27  0.27 -0.08 -0.19  0.012
19630703    0.63 -0.17 -0.09  0.19 -0.33  0.012
19630705    0.40  0.08 -0.28  0.07 -0.33  0.012
19630708   -0.63  0.04 -0.17 -0.31  0.13  0.012

In [4]:
merge_data = signal_data.join(fama_french, how = "left")

In [14]:
def divide_data(dataset):
    gb = merge_data.groupby(dataset.index)
    for x in gb.groups:
        gb.get_group(x).to_csv(str(x)+".csv")

In [11]:
def get_ticker(dataset, num = 1000, col = "mve"):
    return dataset.nlargest(num, col)