In [1]:
import numpy as np
import pandas as pd
np.set_printoptions(threshold=np.nan)

In [2]:
signal_data = pd.read_csv("/home/ywu/Documents/workplace/AFP_data/rps_signals.csv")
signal_data = signal_data.set_index("DATE")
signal_data.dropna(how = "any", axis = 1 ,inplace = True)
signal_data.head()

,permno,gvkey,fyear,sic2,mve_f,bm,ep,age,spii,woGW,...,mve_m,mve,pps,eamonth,i,j,count,ewret,mom1m,IPO
DATE,,,,,,,,,,,,,,,,,,,,,
19800131,10006,1010,1978,37,269.308500,1.180962,0.153022,4,0,0,...,303420.750,12.622876,3.533687,0,61,3,44,0.097817,0.000000,0
19800131,10057,1098,1978,36,97.372000,0.956692,0.135131,4,0,0,...,111423.125,11.621090,3.262893,1,61,3,46,0.097817,0.174157,0
19800131,10103,1012,1978,33,1.697500,3.362003,0.338144,1,0,0,...,2043.000,7.622175,0.405465,0,61,3,10,0.097817,0.500000,1
19800131,10137,1279,1978,49,537.524500,1.330341,0.153238,4,0,0,...,617349.500,13.333191,2.740840,1,61,3,44,0.097817,-0.047761,0
19800131,10145,1300,1978,99,805.633282,1.579284,0.149248,4,1,0,...,1415193.000,14.162776,3.894368,0,61,3,43,0.097817,0.085635,0

In [4]:
fama_french = pd.read_csv("/home/ywu/Documents/workplace/AFP_data/F-F_Research_Data_5_Factors_2x3_daily.CSV", skiprows = 3)
fama_french.set_index("DATE", inplace = True)
fama_french.head()

          Mkt-RF   SMB   HML   RMW   CMA     RF
DATE
19630701   -0.67  0.00 -0.32  0.01  0.15  0.012
19630702    0.79 -0.27  0.27 -0.08 -0.19  0.012
19630703    0.63 -0.17 -0.09  0.19 -0.33  0.012
19630705    0.40  0.08 -0.28  0.07 -0.33  0.012
19630708   -0.63  0.04 -0.17 -0.31  0.13  0.012

In [5]:
merge_data = signal_data.join(fama_french, how = "left")

In [13]:
gb = merge_data.groupby(merge_data.index)
for x in gb.groups:
    print(x)

19800131
19800229
19800331
19800430
19800530
19800630
19800731
19800829
19800930
19801031
19801128
19801231
19810130
19810227
19810331
19810430
19810529
19810630
19810731
19810831
19810930
19811030
19811130
19811231
19820129
19820226
19820331
19820430
19820528
19820630
19820730
19820831
19820930
19821029
19821130
19821231
19830131
19830228
19830331
19830429
19830531
19830630
19830729
19830831
19830930
19831031
19831130
19831230
19840131
19840229
19840330
19840430
19840531
19840629
19840731
19840831
19840928
19841031
19841130
19841231
19850131
19850228
19850329
19850430
19850531
19850628
19850731
19850830
19850930
19851031
19851129
19851231
19860131
19860228
19860331
19860430
19860530
19860630
19860731
19860829
19860930
19861031
19861128
19861231
19870130
19870227
19870331
19870430
19870529
19870630
19870731
19870831
19870930
19871030
19871130
19871231
19880129
19880229
19880331
19880429
19880531
19880630
19880729
19880831
19880930
19881031
19881130
19881230
19890131
19890228
19890331
19890428
19890531
19890630
19890731
19890831
19890929
19891031
19891130
19891229
19900131
19900228
19900330
19900430
19900531
19900629
19900731
19900831
19900928
19901031
19901130
19901231
19910131
19910228
19910328
19910430
19910531
19910628
19910731
19910830
19910930
19911031
19911129
19911231
19920131
19920228
19920331
19920430
19920529
19920630
19920731
19920831
19920930
19921030
19921130
19921231
19930129
19930226
19930331
19930430
19930528
19930630
19930730
19930831
19930930
19931029
19931130
19931231
19940131
19940228
19940331
19940429
19940531
19940630
19940729
19940831
19940930
19941031
19941130
19941230
19950131
19950228
19950331
19950428
19950531
19950630
19950731
19950831
19950929
19951031
19951130
19951229
19960131
19960229
19960329
19960430
19960531
19960628
19960731
19960830
19960930
19961031
19961129
19961231
19970131
19970228
19970331
19970430
19970530
19970630
19970731
19970829
19970930
19971031
19971128
19971231
19980130
19980227
19980331
19980430
19980529
19980630
19980731
19980831
19980930
19981030
19981130
19981231
19990129
19990226
19990331
19990430
19990528
19990630
19990730
19990831
19990930
19991029
19991130
19991231
20000131
20000229
20000331
20000428
20000531
20000630
20000731
20000831
20000929
20001031
20001130
20001229
20010131
20010228
20010330
20010430
20010531
20010629
20010731
20010831
20010928
20011031
20011130
20011231
20020131
20020228
20020328
20020430
20020531
20020628
20020731
20020830
20020930
20021031
20021129
20021231
20030131
20030228
20030331
20030430
20030530
20030630
20030731
20030829
20030930
20031031
20031128
20031231
20040130
20040227
20040331
20040430
20040528
20040630
20040730
20040831
20040930
20041029
20041130
20041231
20050131
20050228
20050331
20050429
20050531
20050630
20050729
20050831
20050930
20051031
20051130
20051230
20060131
20060228
20060331
20060428
20060531
20060630
20060731
20060831
20060929
20061031
20061130
20061229
20070131
20070228
20070330
20070430
20070531
20070629
20070731
20070831
20070928
20071031
20071130
20071231
20080131
20080229
20080331
20080430
20080530
20080630
20080731
20080829
20080930
20081031
20081128
20081231
20090130
20090227
20090331
20090430
20090529
20090630
20090731
20090831
20090930
20091030
20091130
20091231
20100129
20100226
20100331
20100430
20100528
20100630
20100730
20100831
20100930
20101029
20101130
20101231
20110131
20110228
20110331
20110429
20110531
20110630
20110729
20110831
20110930
20111031
20111130
20111230
20120131
20120229
20120330
20120430
20120531
20120629
20120731
20120831
20120928
20121031
20121130
20121231
20130131
20130228
20130328
20130430
20130531
20130628
20130731
20130830
20130930
20131031
20131129
20131231
20140131
20140228
20140331
20140430
20140530
20140630
20140731
20140829
20140930
20141031
20141128
20141231
20150130
20150227
20150331
20150430
20150529
20150630
20150731
20150831
20150930
20151030
20151130
20151231
20160129
20160229
20160331
20160429
20160531
20160630
20160729
20160831
20160930
20161031
20161130
20161230

In [14]:
def divide_data(dataset):
    gb = merge_data.groupby(dataset.index)
    for x in gb.groups:
        gb.get_group(x).to_csv(str(x)+".csv")

In [15]:
divide_data(merge_data)